.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .card {
    width: 20rem;
    margin: 1rem;
    border: none;
    box-shadow:10px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s ease-in-out;
  }

  .card:hover {
    transform: translateY(-50px);
  }

  .card-img-top {
    height: 30rem;
    object-fit:contain;
  }

  .card-text {
    text-align: center;
  }

  .btn {
    margin-top: 10px;
  }